In [1]:
import os
import pandas as pd

In [2]:
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
#pd.set_option('display.width', None)
#pd.set_option('display.max_colwidth', None)

In [3]:
# Get the current working directory and the data directory
base_path = os.getcwd()
viton_path = base_path+'\\data\\viton'
data_path = viton_path+'\\data'
print(f"Base path: {base_path} Viton_path: {viton_path} Data path: {data_path}")

Base path: c:\Projects\Hartree\Throneware\models\C-VTON Viton_path: c:\Projects\Hartree\Throneware\models\C-VTON\data\viton Data path: c:\Projects\Hartree\Throneware\models\C-VTON\data\viton\data

In [4]:
# Get list of directories in the data directory
sub_dirs = [x[0] for x in os.walk(data_path)]
sub_dirs = [os.path.basename(os.path.normpath(item)) for item in sub_dirs]
sub_dirs

['data',
 'cloth',
 'cloth-mask',
 'image',
 'image-parse',
 'image_body_parse',
 'image_densepose_parse',
 'image_parse_with_hands',
 'pose']

In [5]:
# Create a dictionary to store data frames for each subdirectory
dataframes = {}
idx = 0 

# Traverse through each subdirectory
for dirpath, _, filenames in os.walk(data_path):
    # Create a data frame for files in the current subdirectory
    files_data = []
    for filename in filenames:
        # Process each file, e.g., read data and create a DataFrame
        if sub_dirs[idx] == 'pose':
            filename = os.path.splitext(filename)[0]
            filename = filename.replace('_keypoints', '')
            files_data.append({'file_name': filename})
        else:
            filename = os.path.splitext(filename)[0]
            files_data.append({'file_name': filename})

    # Create a data frame from the collected data
    if files_data:
        subdir_df = pd.DataFrame(files_data)
        # Use the subdirectory path as the key to store the dataframe
    else:
        subdir_df = pd.DataFrame()
        subdir_df['file_name'] = ' '

    dataframes[sub_dirs[idx]] = subdir_df

    idx += 1

In [6]:
dataframes['pose']

     file_name
0     000001_0
1     000010_0
2     000020_0
3     000028_0
4     000038_0
...        ...
2027  019552_0
2028  019561_0
2029  019573_0
2030  019581_0
2031  019590_0

[2032 rows x 1 columns]

In [7]:
sub_dirs

['data',
 'cloth',
 'cloth-mask',
 'image',
 'image-parse',
 'image_body_parse',
 'image_densepose_parse',
 'image_parse_with_hands',
 'pose']

In [8]:
samples={}
for f in sub_dirs:
    samples[f] = dataframes[f].shape[0]    

samples

{'data': 0,
 'cloth': 2032,
 'cloth-mask': 2032,
 'image': 2032,
 'image-parse': 2032,
 'image_body_parse': 9003,
 'image_densepose_parse': 9003,
 'image_parse_with_hands': 9003,
 'pose': 2032}

In [9]:
sub_dirs_by_samples = {}

for k, v in samples.items():
    if v not in sub_dirs_by_samples:
        sub_dirs_by_samples[v] = [k]
    else:
        sub_dirs_by_samples[v].append(k)

for v, k in sub_dirs_by_samples.items():
    print(f"Sub-dirs for sample count {v}: {k}")

Sub-dirs for sample count 0: ['data']
Sub-dirs for sample count 2032: ['cloth', 'cloth-mask', 'image', 'image-parse', 'pose']
Sub-dirs for sample count 9003: ['image_body_parse', 'image_densepose_parse', 'image_parse_with_hands']

In [10]:
# Handle the '2032' samples
group_dfs = []
group_df_keys = sub_dirs_by_samples.get(2032)

for f in group_df_keys:
    group_dfs.append(dataframes[f]) 

# Dictionary to store occurrence information
string_occurrences = {}

# Iterate through each dataframe and its columns to track string occurrences
for i, df in enumerate(group_dfs):
    for index, value in df['file_name'].items():
        if isinstance(value, str):
            if value not in string_occurrences:
                string_occurrences[value] = [group_df_keys[i]]
            else:
                string_occurrences[value].append(group_df_keys[i])

# Print the report
#for string, occurrences in string_occurrences.items():
#    print(f"String '{string}' found in: ".join(occurrences))

vton_result = pd.DataFrame(list(string_occurrences.items()), columns=['file_name', 'sub_dirs'])

In [11]:
# Handle the '9003' samples
group_dfs = []
group_df_keys = sub_dirs_by_samples.get(9003)

for f in group_df_keys:
    group_dfs.append(dataframes[f]) 

# Dictionary to store occurrence information
string_occurrences = {}

# Iterate through each dataframe and its columns to track string occurrences
for i, df in enumerate(group_dfs):
    for index, value in df['file_name'].items():
        if isinstance(value, str):
            if value not in string_occurrences:
                string_occurrences[value] = [group_df_keys[i]]
            else:
                string_occurrences[value].append(group_df_keys[i])

# Print the report
#for string, occurrences in string_occurrences.items():
#    print(f"String '{string}' found in: ".join(occurrences))

bpgm_result = pd.DataFrame(list(string_occurrences.items()), columns=['file_name', 'sub_dirs'])

In [12]:
vton_result

     file_name                    sub_dirs
0     000001_1         [cloth, cloth-mask]
1     000010_1         [cloth, cloth-mask]
2     000020_1         [cloth, cloth-mask]
3     000028_1         [cloth, cloth-mask]
4     000038_1         [cloth, cloth-mask]
...        ...                         ...
4059  019552_0  [image, image-parse, pose]
4060  019561_0  [image, image-parse, pose]
4061  019573_0  [image, image-parse, pose]
4062  019581_0  [image, image-parse, pose]
4063  019590_0  [image, image-parse, pose]

[4064 rows x 2 columns]

In [13]:
bpgm_result

     file_name                                           sub_dirs
0     000001_0  [image_body_parse, image_densepose_parse, imag...
1     000002_0  [image_body_parse, image_densepose_parse, imag...
2     000003_0  [image_body_parse, image_densepose_parse, imag...
3     000004_0  [image_body_parse, image_densepose_parse, imag...
4     000005_0  [image_body_parse, image_densepose_parse, imag...
...        ...                                                ...
8998  019583_0  [image_body_parse, image_densepose_parse, imag...
8999  019586_0  [image_body_parse, image_densepose_parse, imag...
9000  019591_0  [image_body_parse, image_densepose_parse, imag...
9001  019594_0  [image_body_parse, image_densepose_parse, imag...
9002  019595_0  [image_body_parse, image_densepose_parse, imag...

[9003 rows x 2 columns]

In [19]:
train_pairs = pd.read_csv(viton_path+'\\viton_train_pairs.txt', header=None)
train_pairs

                              0
0     000001_0.jpg 000001_1.jpg
1     000002_0.jpg 000002_1.jpg
2     000003_0.jpg 000003_1.jpg
3     000004_0.jpg 000004_1.jpg
4     000005_0.jpg 000005_1.jpg
...                         ...
8582  019583_0.jpg 019583_1.jpg
8583  019586_0.jpg 019586_1.jpg
8584  019591_0.jpg 019591_1.jpg
8585  019594_0.jpg 019594_1.jpg
8586  019595_0.jpg 019595_1.jpg

[8587 rows x 1 columns]